fastapi==0.135.3
uvicorn==0.42.0
pydantic==2.12.5
networkx==3.6.1
numpy==2.0.2
torch==2.6.0
matplotlib==3.10.8
seaborn==0.13.2
plotly==6.6.0
dash==4.1.0
pandas==3.0.1
psutil==7.2.2
scipy==1.17.1
openai
Pillow
tabulate
